



    #nav {
        height:                             100px;
        width:                              100%;
        border:                             1px solid #2b2b2b;
    }


    #nav .icon {
        margin:                             8px auto;
        float:                              left;
        height:                             100px;
        color:                              #2b2b2b;
        overflow:                           hidden;
        text-align:                         right;
    }

    #nav .icon i.landing {
        animation-name:                     spin;
        animation-duration:                 2s;
        animation-iteration-count:          1;
    }

    #nav .icon i.error {
        animation-name:                     spin_error;
        animation-duration:                 3s;
        animation-iteration-count:          1;
    }

    #nav .icon i.valid {
        animation-name:                     spin_valid;
        animation-duration:                 3s;
        animation-fill-mode:                forwards;
        animation-iteration-count:          1;
    }


    #nav .input {
        float:                              right;
        height:                             100px;
        width:                              84%;
        overflow:                           hidden;
        transition:                         2s;
    }

    #nav .input.hidden {
        border:                             none;
        min-width:                          0;
        width:                              0;
        padding:                            0;
    }

    #nav .input input {
        text-align:                         center;
        font-size:                          24px;
        padding:                            20px 0 10px 0;
    }




    @keyframes spin {
        0%      { transform: rotate(0deg);   }
        100%    { transform: rotate(720deg); }
    }

    @keyframes spin_error {
        0%      {
                    transform:  rotate(0deg);
                    color:      black
                }
        50%     {
                    color:      #F44336;
                }
        100%    {
                    transform:  rotate(720deg);
                    color:      black;
                }
    }

    @keyframes spin_valid {
        0%      {
                    transform:  rotate(0deg);
                    color:      black
                }
        50%     {
                    color:      #26A69A;
                }
        100%    {
                    transform:  rotate(810deg);
                }
    }




