



    .nav {
        width:                              100%;
        text-align:                         center;
    }

    .nav .icon {
        height:                             100px;
        width:                              100px;
        border:                             1px solid #2b2b2b;
        color:                              #2b2b2b;
        display:                            inline-block;
        overflow:                           hidden;
        padding:                            8px;
        text-align:                         right;
    }

    .nav .icon i.landing {
        animation-name:                     spin;
        animation-duration:                 2s;
        animation-iteration-count:          1;
    }


    .nav .input {
        border:                             1px solid #2b2b2b;
        height:                             100px;
        display:                            inline-block;
        width:                              450px;
        overflow:                           hidden;
        padding:                            8px 10px 10px 8px;
        transition:                         2s;
    }

    .nav .input.hidden {
        border:                             none;
        min-width:                          0;
        width:                              0;
        padding:                            0;
    }

    .nav .input input {
        font-size:                          18px;
        padding:                            12px;
    }




    @keyframes spin {
        0%      {
                    transform: rotate(0deg);
                }
        100%    {
                    transform: rotate(720deg);
                }
    }

    @keyframes spin_vertical {
        0%      {
                    transform: rotate(0deg);
                }
        100%    {
                    transform: rotate(810deg);
                }
    }




